.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20rem;
  left: -100%;
}

.tiles {
  display: flex;
  gap: 1rem;
}

.tile {
  width: 100%;
}

.current {
  /* z-index: 0; */
  position: relative;
  left: 0;
}

.hidden {
  z-index: -1;
  position: absolute;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: auto;
  min-height: 2rem;
}
