.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.products {
  display: flex;
}

.carousel-tile {
  transition: 1s;
  max-width: 100%;
}

.left {
  position: absolute;
  left: -200%;
}

.current {
  position: relative;
  left: 0;
}

.right {
  position: absolute;
  right: 200%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: auto;
  min-height: 2rem;
}
